@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red */
}
html{
    scroll-behavior: smooth;
}
ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 리셋 */

.wrap {
    width: 100%;
}

.inner {
    width: 1280px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header>h1 {}

header div {
    position: relative;
    padding: 40px;
}

.seach-box {
    background-color: #f3efef;
    height: 50px;
    width: 700px;
    border-radius: 50px;
    border: none;
    padding-left: 20px; 
}

input::-webkit-search-cancel-button{
    display: none;
}

input.seach-box:focus{
    outline: none;
}

.search-icon {
    position: absolute;
    top: 50px;
    right: 80px;
}

header>nav {
}

header>nav>ul {
    display: flex;
    padding-top: 45px;
}

header>nav>ul>li>a {
    display: block;
    text-align: center;
    padding: 10px 15px;
}

header>nav>ul>li>a:hover{
    font-weight: bold;
}

.category ul{
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
}

.category ul li a:hover {
    font-weight: bold;
}

/* 슬라이드 */

.slide {
    width: 100%;
    /* height: 600px; */
    overflow: hidden;
    aspect-ratio: 1920 / 550;
}

.slide-box {
    width: 100%;
    height: 300%;
    /* position: relative; */
    /* left: 0; */
    animation: slide 10s infinite;
}

@keyframes slide {
    0% {
        /* top: 0px; */
        transform: translateY(0%)
    }

    30% {
        /* top: 0px; */
        transform: translateY(0%)
    }

    33% {
        transform: translateY(-33.333%)
    }

    63% {
        transform: translateY(-33.333%)
    }

    66% {
        transform: translateY(-66.666%)
    }

    96% {
        transform: translateY(-66.666%)
    }

    100% {
        transform: translateY(0%)
    }
}

.slide-box a {
    display: block;
    width: 100%;
    height: calc(100% / 3);
    overflow: hidden;
}

.slide-box img {
    width: 100%;
    display: block;


}

.slide01 {}

.slide02 {}

.slide03 {}

/* 바로가기 아이콘 */
.icon {
    text-align: center;
    padding: 80px 0px;

}

.icon a {
    display: inline-block;
    margin-right: 50px;
}

.icon a:nth-child(4) {
    margin-right: 0px;
}

.icon a:hover {
    opacity: 0.5;
}

/* 오늘의 책 */

.main01 h2 {
    margin-bottom: 50px;
}

.today-book {}

.today-book-content {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 50px 20px;
}

.today-book-content img:hover {
    box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.3);

}

.today-book-content div p {
    padding-top: 15px;
    line-height: 25px;
}

/*주간 베스트 셀러 */

.today-input {
    display: none;
}

.week-book-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

.week-book-title a :hover {
    font-weight: bold;
}

.week-book-title a {
    text-align: center;
    display: block;
    padding: 0 50px;
}

.week-book-title a label {
    width: 100%;
    cursor: pointer;
}


.week-book-cont div {
    display: none;
    justify-content: space-around;
    padding: 40px 0;

}

.week-book-cont img:hover{
    box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.3);
}

#btn01:checked~.inner .week-book-cont01 {
    display: flex;
}

#btn02:checked~.inner .week-book-cont02 {
    display: flex;
}

#btn03:checked~.inner .week-book-cont03 {
    display: flex;
}

#btn04:checked~.inner .week-book-cont04 {
    display: flex;
}

#btn05:checked~.inner .week-book-cont05 {
    display: flex;
}

#btn06:checked~.inner .week-book-cont06 {
    display: flex;
}

#btn07:checked~.inner .week-book-cont07 {
    display: flex;
}

/* 띠베너1*/

.banner1 {
    width: 100%;
    height: 140px;
}

.banner1 a {
    display: block;
    height: 100%;
    background-image: url(../img/banner1.png);
}

/* md추천 */
.main02 h2 {
    margin: 50px 0;

}

/*띠베너2 */

.banner2 {
    width: 100%;
    height: 140px;
}

.banner2 a {
    display: block;
    height: 100%;
    background-image: url(../img/banner2.png);
}

/*마지막 컨텐츠  */

.finner {
    display: flex;
    justify-content: space-between;
}

.fleft {
    padding: 20px;
    line-height: 30px;
}

.fleft h2{
    font-size: 40px;
    margin-top: 10px;
}

.fnav {
    margin-right: 20px;
    padding: 20px 0;
}

.fnav>ul {
    display: flex;
    gap: 80px;
}

.fnav>ul>li>a {
    display: block;
    padding: 10px;
}

.fnav>ul>li>ul>li>a{
    display: block;
    
    padding: 5px 10px;
    font-size: 14px ;  
}

/* 푸터 */

footer {
    margin-top: 10px;
}

footer .inner {
    display: flex;
}

footer h1 {
    padding: 20px;
}

.bottom-menu {
    width: 800px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.bottom-menu>a {
    display: block;
}

.f-text01 p {
    padding: 5px 10px
}